{% extends "base.html" %} 

{% load static %} 

{% block title %} About Page {% endblock %} 

{% block content %}
<section class="bg-primary-green text-white relative xl:overflow-hidden">
  <img
    src="{% static 'images/elements/letters-overlay.png' %}"
    alt="letters overlay"
    class="w-full h-full object-cover object-right absolute"
  />
  <img
    src="{% static 'images/elements/clouds-overlay.svg' %}"
    alt="Cloud Overlay"
    class="hidden lg:flex absolute -bottom-14 xl:-bottom-24 w-full"
  />
  <div class="container mx-auto px-5 xl:px-0 py-16 sm:py-20 md:py-32 xl:py-40">
    <div class="relative w-40 md:w-44 lg:w-64 mx-auto mb-2 lg:mb-5 text-center">
      <img
        src="{% static 'images/elements/light-bulb-1.svg' %}"
        alt="light bulb"
        class="w-20 absolute -left-16 md:-left-20 -top-10"
      />
      <h2 class="text-3xl md:text-4xl lg:text-5xl font-semibold">ABOUT US</h2>
    </div>
    <div class="text-center xl:w-2/4 mx-auto text-base lg:text-lg space-y-2 font-medium">
      <p>Welcome to Planet Protectors! 🌍</p>
      <p>
        At Planet Protectors, we believe that every child has the power to make
        a difference. Our mission is to educate, inspire, and empower young
        people to understand climate change and take action to protect the
        Earth. Through engaging content, interactive activities, and exciting
        resources, we strive to make learning about our planet both fun and
        impactful.
      </p>
    </div>

    <div class="bg-white rounded-3xl p-5 md:p-9 xl:w-2/4 mx-auto space-y-2 mt-10 drop-shadow-3xl cursor-default">
        <h2 class="text-primary-green text-2xl font-semibold text-center">Mission Statement</h2>
        <p class="text-primary-text text-sm sm:text-base lg:text-lg font-medium text-center">Planet Protectors is dedicated to raising awareness about climate change by educating the next generation about the environmental challenges facing our planet. We provide accessible, age-appropriate resources to help kids understand the science behind climate change, its effects, and how they can take action to help protect the environment. By fostering curiosity and encouraging participation, we aim to create a community of young environmental stewards committed to making the world a better place for future generations.</p>
    </div>
  </div>
</section>
{% endblock %}
