{% extends "base.html" %} 

{% load static %} 

{% block title %} Article Page {% endblock %} 

{% block content %}

<section class="bg-hero-articles bg-no-repeat bg-top bg-cover">

  <div
    class="container mx-auto px-5 xl:px-0 py-16 sm:py-20 md:py-32 lg:py-40 text-white text-center relative"
  >
    <img
        src="{% static 'images/kid-1.svg' %}"
        alt="Standing person"
        class="hidden lg:flex lg:absolute w-64 xl:w-78 -bottom-20 xl:-bottom-24 left-0 xl:-left-10 "
    />
    <img
        src="{% static 'images/kid-2.svg' %}"
        alt="Standing person"
        class="hidden lg:flex lg:absolute w-64 xl:w-78 -bottom-20 xl:-bottom-24 right-0 xl:-right-10 "
    />
    <h1 class="text-2xl sm:text-3xl md:text-4xl xl:text-5xl font-semibold lg:leading-snug">
      Learn & Explore: Climate change Articles 🌍
    </h1>
    <p class="lg:w-2/4 mx-auto text-sm sm:text-base md:text-lg xl:text-xl mt-1">
      Welcome to our Articles Hub, where you can explore fascinating facts,
      stories, and science about climate change! We’ve made it easy for kids
      like you to learn about the environment and discover how to protect our
      planet.
    </p>
    <button
      class="mt-3 bg-primary-green rounded-full py-2 px-10 drop-shadow-3xl hover:scale-110 transition-all ease-in-out duration-500"
    >
      <a href="articles#articles" class="text-white font-medium">Start Learning!</a>
    </button>
  </div>
</section>

<section id="articles">
    <div class="container mx-auto px-5 xl:px-0 py-16 sm:py-20 md:py-32 lg:py-40 text-white text-center relative">
        <h2>articles d2 bai</h2>
    </div>
</section>

{% endblock %}
