{% extends "base.html" %} 

{% load static %} 

{% block title %} Article Page {% endblock %} 

{% block content %}

<section class="bg-hero-articles bg-no-repeat bg-top bg-cover">

  <div
    class="container mx-auto px-5 xl:px-0 py-16 sm:py-20 md:py-32 lg:py-40 text-white text-center relative"
  >
    <img
        src="{% static 'images/kid-1.svg' %}"
        alt="Standing person"
        class="hidden lg:flex lg:absolute w-64 xl:w-78 -bottom-20 xl:-bottom-24 left-0 xl:-left-10 "
    />
    <img
        src="{% static 'images/kid-2.svg' %}"
        alt="Standing person"
        class="hidden lg:flex lg:absolute w-64 xl:w-78 -bottom-20 xl:-bottom-24 right-0 xl:-right-10 "
    />
    <h1 class="text-2xl sm:text-3xl md:text-4xl xl:text-5xl font-semibold lg:leading-snug">
      Learn & Explore: Climate change Articles 🌍
    </h1>
    <p class="lg:w-2/4 mx-auto text-sm sm:text-base md:text-lg xl:text-xl mt-1">
      Welcome to our Articles Hub, where you can explore fascinating facts,
      stories, and science about climate change! We’ve made it easy for kids
      like you to learn about the environment and discover how to protect our
      planet.
    </p>
    <button
      class="mt-3 bg-primary-green rounded-full py-2 px-10 drop-shadow-3xl hover:scale-110 transition-all ease-in-out duration-500"
    >
      <a href="articles#articles" class="text-white font-medium">Start Learning!</a>
    </button>
  </div>
</section>

<section id="articles">
    <div class="container mx-auto px-5 xl:px-0 pt-16 sm:pt-20 md:pt-32 lg:pt-40 text-center relative">
      <div class="flex gap-2 items-center justify-start pb-3 border-b-2 border-primary-green/40 xl:w-3/4 mx-auto">
        <img
          src="{% static 'images/elements/ribbon.svg' %}"
          alt="Ribbon"
          class="w-10 h-10"
        />
        <h2
          class="text-2xl md:text-3xl lg:text-4xl font-semibold text-primary-green"
        >
          Articles
        </h2>
      </div>
      <div class="grid sm:grid-cols-2 xl:w-2/4 mx-auto gap-5 sm:gap-10 mt-5 sm:mt-10">
        {% for item in items %}
            <a href="/article/{{ item.slug }}" class="rounded-3xl bg-primary-lightGreen p-3 border-4 border-primary-green hover:scale-105 transition-all duration-500 ease-in-out hover:drop-shadow-3xl relative">
                <img src="{% static item.image %}" alt="{{ item.title }}" class="rounded-xl w-full h-56 object-cover sm:h-auto">
                <div class="absolute bottom-5 left-5 bg-primary-yellow px-4 py-3 rounded-xl font-semibold drop-shadow-3xl">
                  <h2>{{ item.title }}</h2>
                </div>
            </a>
        {% endfor %}
      </div>
    </div>
</section>

<!-- multimedia section -->
<section id="media">
  <div class="container mx-auto px-5 xl:px-0 pt-16  text-center relative">
    <div class="flex gap-2 items-center justify-start pb-3 border-b-2 border-primary-green/40 w-3/4 mx-auto">
      <img
        src="{% static 'images/elements/ribbon.svg' %}"
        alt="Ribbon"
        class="w-10 h-10"
      />
      <h2
        class="text-2xl md:text-3xl lg:text-4xl font-semibold text-primary-green"
      >
        Multimedia
      </h2>
    </div>
    <div class="grid grid-cols-2 lg:w-3/4 mx-auto gap-10 mt-10">
      {% for media in multimedia %}
          {% if media.tag == 'video' %}
            <iframe src="{{ media.src}}" frameborder="0" class="w-full h-64 rounded-3xl hover:scale-105 transition-all ease-in-out duration-500 hover:drop-shadow-3xl border-4 border-primary-green" allowfullscreen></iframe>

          {% else %}
            <p>test</p>

          {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
