<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %} <!-- Add this line to load static files -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
 
  </head>
  <body>
    <section class="navigationbar ">
      <a href="/">Home</a>
      <a href="about">About</a>
      <a href="contact">Contact</a>
      
    </section>
    <section class="container">
      {% block content %}
      <!-- Content here -->
      {% endblock %}
    </section>
  
  </body>
</html>
